# Operating System -----------------------------------------------------------

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Output and Cache Directories ###
**/External/
**/Debug/
**/Docs/
**/Release/
**/build/
**/bin/
**/out/
**/cmake-build-*/

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Language --------------------------------------------------------------------

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

# Comment this line if you want to version Wavefront .obj files.
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Translations
*.mo
*.pot

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/


# Project --------------------------------------------------------------------
.vscode
test/
**/*.ipynb
src/connection/torcs_client/README.md
src/connection/torcs_client/reward.py
src/connection/torcs_client/terminator.py
src/connection/torcs_client/torcs_client.py
src/connection/torcs_client/torcs_comp.py
src/connection/torcs_client/utils.py
src/connection/torcs_client/reward_dataset/berniw_timemap_gtrack1.h5
torcs/BUILD/
reports/video
src/driver/launch.py
src/driver/README.md
src/driver/run_torcs_tf2rl.py
src/driver/run_torcs.py
src/driver/agents/berniw_agent/collect.py
src/driver/agents/ddpg/ddpg.py
src/driver/agents/ddpg/README.md
src/driver/agents/ddpg/model/actor/saved_model.pb
src/driver/agents/ddpg/model/actor/variables/variables.data-00000-of-00001
src/driver/agents/ddpg/model/actor/variables/variables.index
src/driver/agents/ddpg/model/actor_target/saved_model.pb
src/driver/agents/ddpg/model/actor_target/variables/variables.data-00000-of-00001
src/driver/agents/ddpg/model/actor_target/variables/variables.index
src/driver/agents/ddpg/model/critic/saved_model.pb
src/driver/agents/ddpg/model/critic/variables/variables.data-00000-of-00001
src/driver/agents/ddpg/model/critic/variables/variables.index
src/driver/agents/ddpg/model/critic_target/saved_model.pb
src/driver/agents/ddpg/model/critic_target/variables/variables.data-00000-of-00001
src/driver/agents/ddpg/model/critic_target/variables/variables.index
src/driver/agents/ddpg/network/actor.py
src/driver/agents/ddpg/network/critic.py
src/driver/agents/ddpg/utils/action_noise.py
src/driver/agents/ddpg/utils/replay_buffer.py
src/driver/agents/simple_agent_dataset/snakeoil3.py
src/driver/agents/tf2rl/__init__.py
src/driver/agents/tf2rl/README.md
src/driver/agents/tf2rl/algos/__init__.py
src/driver/agents/tf2rl/algos/apex.py
src/driver/agents/tf2rl/algos/bi_res_ddpg.py
src/driver/agents/tf2rl/algos/categorical_dqn.py
src/driver/agents/tf2rl/algos/curl_sac.py
src/driver/agents/tf2rl/algos/d2rl_sac.py
src/driver/agents/tf2rl/algos/ddpg.py
src/driver/agents/tf2rl/algos/dqn.py
src/driver/agents/tf2rl/algos/gaifo.py
src/driver/agents/tf2rl/algos/gail.py
src/driver/agents/tf2rl/algos/policy_base.py
src/driver/agents/tf2rl/algos/ppo.py
src/driver/agents/tf2rl/algos/sac_ae.py
src/driver/agents/tf2rl/algos/sac_discrete.py
src/driver/agents/tf2rl/algos/sac.py
src/driver/agents/tf2rl/algos/td3.py
src/driver/agents/tf2rl/algos/vail.py
src/driver/agents/tf2rl/algos/vpg.py
src/driver/agents/tf2rl/envs/__init__.py
src/driver/agents/tf2rl/envs/atari_wrapper.py
src/driver/agents/tf2rl/envs/dmc_wrapper.py
src/driver/agents/tf2rl/envs/env_utils.py
src/driver/agents/tf2rl/envs/frame_stack_wrapper.py
src/driver/agents/tf2rl/envs/multi_thread_env.py
src/driver/agents/tf2rl/envs/normalizer.py
src/driver/agents/tf2rl/envs/utils.py
src/driver/agents/tf2rl/experiments/__init__.py
src/driver/agents/tf2rl/experiments/irl_trainer.py
src/driver/agents/tf2rl/experiments/me_trpo_trainer.py
src/driver/agents/tf2rl/experiments/mpc_trainer.py
src/driver/agents/tf2rl/experiments/on_policy_trainer.py
src/driver/agents/tf2rl/experiments/trainer.py
src/driver/agents/tf2rl/experiments/utils.py
src/driver/agents/tf2rl/misc/__init__.py
src/driver/agents/tf2rl/misc/discount_cumsum.py
src/driver/agents/tf2rl/misc/get_replay_buffer.py
src/driver/agents/tf2rl/misc/huber_loss.py
src/driver/agents/tf2rl/misc/initialize_logger.py
src/driver/agents/tf2rl/misc/normalizer.py
src/driver/agents/tf2rl/misc/periodic_ops.py
src/driver/agents/tf2rl/misc/prepare_output_dir.py
src/driver/agents/tf2rl/misc/target_update_ops.py
src/driver/agents/tf2rl/networks/__init__.py
src/driver/agents/tf2rl/networks/atari_model.py
src/driver/agents/tf2rl/networks/dmc_model.py
src/driver/agents/tf2rl/networks/noisy_dense.py
src/driver/agents/tf2rl/networks/spectral_norm_dense.py
src/driver/agents/tf2rl/policies/__init__.py
src/driver/agents/tf2rl/policies/tfp_categorical_actor.py
src/driver/agents/tf2rl/policies/tfp_gaussian_actor.py
src/driver/agents/tf2rl/tools/__init__.py
src/driver/agents/tf2rl/tools/img_tools.py
src/driver/agents/tf2rl/tools/vae.py
src/driver/torcs_client/README.md
src/driver/torcs_client/reward.py
src/driver/torcs_client/terminator.py
src/driver/torcs_client/torcs_client.py
src/driver/torcs_client/torcs_comp.py
src/driver/torcs_client/utils.py
src/driver/torcs_client/reward_dataset/berniw_timemap_gtrack1.h5