# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

config.log


# Manual
CVS
doc
src
data
export

.torcs.rc
acinclude.m4
aclocal.m4
autoconf.m4
config.h
config.h.in
config.status
configure
configure.in
fix_main.patch
icon.png
install-sh
logo-skinner-trans.png
logo-skinner.png
Make-config
Make-config.in
Make-default.mk
missing
mkinstalldirs
resource.h
robotgen
setup_linux.sh
stamp-h1
Ticon-t.png
Ticon.ico
Ticon.png
torcs.desktop
TORCS.dsp
TORCS.dsw
TORCS.sln
TORCS.vcproj
torcs.xpm
tux.png
written
!.gitignore
!requirements.txt
!COPYING
!Dockerfile
!setup.sh
!C_BUILD.sh
!/configs/**/*.*